<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/15977877_692333207615051_6215668185166195250_n.jpg?oh=ce158541833b9c02238ea3233ee9705b&oe=596E45CD">
    <h2>Vương Đăng Vũ</h2>
    <h3>Education:</h3> Code in C4E8 Techkid
    <h3>Location:</h3> Bắc Giang City
    <h3>Work Exp:</h3> .......
    <h3>Email:</h3>vuongdangvu@gmail.com
    <h3>SDT:</h3> 0942622071
    <h3>Quote:</h3> ............
</body>
</html>