<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN 2</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <form class="w3-container" method="post">
        <label>username</label>
        <input class="w3-input" type="text" name="username">
         <label>password</label>
        <input class="w3-input" type="text" name="password">
        <input type="submit"  class="w3-btn w3-teal" value="LOGIN">

    </form>

</body>
</html>